nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw 7.4vw 0vw;
    background-color: transparent;
    cursor: auto;
}

#digisign {
    cursor: pointer;
}

#side {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

#side a {
    display: flex;
    padding: .7vw .5vw;
    text-decoration: none;
    color: #bdbdbd;
    text-transform: uppercase;
    font-size: .9vw;
    letter-spacing: .1vw;
    font-weight: 400;
    cursor: pointer;
}

#side a:hover {
    color: lightgrey;
}