*{
    box-sizing: border-box;
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Futura PT', sans-serif;
    scroll-behavior: smooth;
}

html,body{
    height: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw 7.4vw 0vw;

    background-color: transparent;
    cursor: auto;
}

#digisign{
    padding: 1.5vw 4vw;
    background-color: red;
    color: black;
    cursor: pointer;
}

#side{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

#side a{
    display: flex;
    padding: .7vw .5vw;
    text-decoration: none;
    color: #bdbdbd;
    text-transform: uppercase;
    font-size: .9vw;
    letter-spacing: .1vw;
    font-weight: 400;
    cursor: pointer;
}

#side a:hover{
    color: lightgrey;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.7vw 7.4vw;
    flex-wrap: wrap;
}

#first{
    display: flex;
    flex-direction: row;
    width: 82.5vw;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
}

#right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 67vw;
}

#right h1{
    font-weight: 400;
    letter-spacing: .4vw;
    font-size: 3.4vw;
    line-height: 0vw;
    margin: 0vw 0vw 4vw;
}

#right #head{
    margin-top: 2vw;
}

#right span{
    letter-spacing: .1vw;
    font-weight: 300;
    font-size: 1vw;
    line-height: 1.6;
}

#right button{
    margin-top: 1vw;
    padding: .9vw 2.93vw;
    text-transform: uppercase;
    width: fit-content;
    background-color: #ffcc00;
    color: black;
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: bolder;
    border: none;
    transition-duration: .35s;
}

#left{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
}

#left img{
    display: flex;
    align-items: flex-end;
    width: 80%;
}

/* second section */
#second{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second h3{
    font-size: 1.35vw;
    font-weight: bolder;
    letter-spacing: .1vw;
    text-transform: uppercase;
}

#second div.pair-slider-div{
    background-color: blue;
    
}