*{
    box-sizing: border-box;
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Futura PT', sans-serif;
    scroll-behavior: smooth;
}

html,body{
    height: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw 7.4vw 0vw;

    background-color: transparent;
    cursor: auto;
}

#digisign{
    padding: 1.5vw 4vw;
    background-color: red;
    color: black;
    cursor: pointer;
}

#side{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

#side a{
    display: flex;
    padding: .7vw .5vw;
    text-decoration: none;
    color: #bdbdbd;
    text-transform: uppercase;
    font-size: .9vw;
    letter-spacing: .1vw;
    font-weight: 400;
    cursor: pointer;
}

#side a:hover{
    color: lightgrey;
}

/* hoverlist section */
#hiddenlist{
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    /* animation: fade-out 4s 4s ease-out forwards; */
}

#hoverlist:hover + #hiddenlist, 
#hiddenlist:hover{
    display: flex;
    flex-direction: column;
    padding: 1vw .5vw;
    text-transform: uppercase;
    color: black;
    background-color: #fff;
    animation: moveToUp .3s ease-in;
    opacity: 1;
    position: absolute;
    transition-duration: .4s;
    z-index: 999;
}

#list #hiddenlist a:hover{
    color: #d3d3d3;
}


@keyframes moveToUp {
    0% {
    transform: translateY(30px);
    }
    100% {
    transform: translateY(0px);
    }
}

#side #hiddenlist a{
    color: black;
    padding: .3vw 1vw;
    line-height: 1.5vw; 
    font-size: .9vw;
    font-weight: 600;
}

#hoverlist:hover:after + #hiddenlist{
    opacity: 0;
    position: absolute;
    animation: fade-out 4s 1s ease-out forwards;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.7vw 7.4vw;
    flex-wrap: wrap;
}

#first{
    display: flex;
    flex-direction: row;
    width: 82.5vw;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
}

#right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 67vw;
}

#right h1{
    font-weight: 400;
    letter-spacing: .4vw;
    font-size: 3.4vw;
    line-height: 0vw;
    margin: 0vw 0vw 4vw;
}

#right #head{
    margin-top: 2vw;
}

#right span{
    letter-spacing: .1vw;
    font-weight: 300;
    font-size: 1vw;
    line-height: 1.6;
}

#right button{
    margin-top: 1vw;
    padding: .9vw 2.93vw;
    text-transform: uppercase;
    width: fit-content;
    background-color: #ffcc00;
    color: black;
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: bolder;
    border: none;
    transition-duration: .35s;
}

#left{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
}

#left img{
    display: flex;
    align-items: flex-end;
    width: 80%;
}

/* second section */
#second{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second h3{
    font-size: 1.35vw;
    font-weight: bolder;
    letter-spacing: .1vw;
    text-transform: uppercase;
}

#second div.pair-slider-div{
    background-color: blue;
    
}


/* about section */
#abt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9vw 7.4vw;
    background-image: linear-gradient(rgb(245, 245, 245) ,whitesmoke);
    cursor: pointer;
}

#abt h1{
    margin: 0;
    padding-bottom: 1.24vw;
    text-transform: capitalize;
    font-size: 4vw;
    font-weight: 100;
    letter-spacing: .2vw;
    color: black;
}

#abt a{
    text-decoration: none;
    font-size: 1.6vw;
    color: black;
    padding:.3vw;
    cursor: pointer;
}

#abt a:hover{
    color: grey;
}
