* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    height: auto;
    position: relative;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.7vw 7.4vw;
    flex-wrap: wrap;
}

#first {
    display: flex;
    flex-direction: row;
    width: 82.5vw;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
}

#right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 67vw;
}

#right h1 {
    font-weight: 400;
    letter-spacing: .4vw;
    font-size: 3.4vw;
    line-height: 0vw;
    margin: 0vw 0vw 4vw;
}

#right #head {
    margin-top: 2vw;
}

#right span {
    letter-spacing: .1vw;
    font-weight: 300;
    font-size: 1vw;
    line-height: 1.6;
}

select {
    padding: .5vw;
    padding-right: 15vw;
    border: .1vw solid #bdbdbd;
}

#scale {
    padding: .5vw;
    padding-right: 5vw;
    margin-right: 3vw;
}

#right button {
    margin-top: 1vw;
    padding: .9vw 2.93vw;
    text-transform: uppercase;
    width: fit-content;
    background-color: #ffcc00;
    color: black;
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: bolder;
    border: none;
    transition-duration: .35s;
}

#left {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
}

#left img {
    display: flex;
    align-items: flex-end;
    width: 80%;
}

/* second section */
#second {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second h3 {
    font-size: 1.35vw;
    font-weight: bolder;
    letter-spacing: .1vw;
    text-transform: uppercase;
}

#second div.pair-slider-div {
    background-color: blue;

}

/* info section */
#accordion {
    display: flex;
    flex-direction: column;
    width: 45vw;
}

#accordion #disclaimer {
    text-align: center;
    font-weight: 300;
}

#luts {
    display: flex;
    flex-direction: column;
    width: 42vw;
}

#luts ul {
    padding-left: 7vw;
}

#luts ul>li {
    line-height: 2.3vw;
    font-weight: 300;
}