@tailwind base;
@tailwind components;
@tailwind utilities;

/* Locomotive Scroll styles */
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateZ(0);
}

.c-scrollbar:hover {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  right: 2px;
  top: 0;
  width: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: background-color 0.3s;
  transform: translateZ(0);
}

.has-scroll-smooth {
  overflow: hidden;
}

.has-scroll-smooth .has-scroll-init {
  will-change: transform;
}

.has-scroll-smooth [data-scroll-section] {
  position: relative;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
