* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    height: 0;
}

#main {
    display: flex;
    flex-wrap: wrap;
    width: 82.8 vw;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: baseline;
    padding: 3.7vw 6.9vw;
    /* gap: 1vw; */
}

#products {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

#products span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#products span img {
    width: 21vw;
}

#products span p {
    margin: .1vw;
}

.bold {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3vw;
    position: absolute;
    top: 25%;
    left: 10%;
    color: #fff;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 800;
}

.thin {
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 13%;
    color: #fff;
    font-size: 1.2vw;
    font-weight: 300;
    letter-spacing: .1vw;
}